font-face {
    font-family: RobotoWeb;
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoLightWeb;
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Light-webfont.woff') format('woff'), url('fonts/Roboto-Light-webfont.ttf') format('truetype'), url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoBoldWeb;
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Bold-webfont.woff') format('woff'), url('fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoCondensedWeb;
    src: url('fonts/Roboto-Condensed-webfont.eot');
    src: url('fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Condensed-webfont.woff') format('woff'), url('fonts/Roboto-Condensed-webfont.ttf') format('truetype'), url('fonts/Roboto-Condensed-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  background: lightgrey;
  height: 100vw;
  overflow: hidden;
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    color:#FFF;
    padding: 3vw
    font-family: RobotoWeb;
}

.react-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.background {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;


  background: url('/src/img/back.png') no-repeat center center fixed;
  background-size: cover;
}


h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-weight: initial;
}

h1 {

}

h2 {
    font-size:30px;
    font-family: RobotoLightWeb;
}

h3 {
    font-size:25px;
}

h4 {
    font-size:20px
}

h5 {
    font-size: 15px;
}

.nav-item {
    font-family: RobotoBoldWeb;
    font-size: 2vh;
    cursor: pointer;
    color:#444444;
    text-decoration: none;
}

.nav-item-wrapper {
  width: 100vw;
  height: 100vh;
  list-style: none;
}

.nav-item-wrapper > li {
  
}

.nav-item-wrapper a:hover {
  color: #FFFFFF;
  background-color: #FF4D4D;
}

.nav {
	width: 100%;
	height: 100%;
}


li:hover, li:focus {
    text-decoration: none !important;
}

.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.center {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.center-horizontal {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.center-vertical {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-one {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}
.flex-two {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}

.flex-three {
    -webkit-box-flex: 3;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3;         /* OLD - Firefox 19- */
    -webkit-flex: 3;          /* Chrome */
    -ms-flex: 3;              /* IE 10 */
    flex: 3;
}

.header, .navbar, .logo, .social-icons {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

.header {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 15vh;
    box-shadow: 0 0 0 rgba(0,0,0,.15);
    margin-top: 2vh;
    overflow: hidden;
}

.navbar {
  width: 40%;
  height: 100%;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  float: left;
}

.social-icons {
  width: 40%;
  height: 100%;
  float: right;
  display: inline-block;
}

.social-icons img {
  width: 40px;
  height: 40px;
  display: block;
}

.social-icons li {
  float: right;
  padding: .5vw 1.5vw;
}

.social-list {
  list-style: none;
  width: 90%;
  height: 90%;
  float: left;
  padding: 0;
  margin: 0;
}

.nav-item-wrapper {
  width: 100%;
  height: 100%;
  float: left;
  display: table-cell;
  vertical-align: center;
  padding-left: 0;
}

.logo {
  width: 19%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  justify-content: center;
  display: inline-block;
}

.logo img {
  min-width: 13vw;
  width: 15vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.nav-item, li {
  padding: 1vw 1.25vw;
  color: #FFFFFF;
  float: left;
  font-size: 16px;
  display: block;
}

.content {
  height: 100%;
  width: 100%;
}

.on-the-air {
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 40px;
}

.player {  
  height: 80%;
  margin-top: 17vh;
  float: left;  
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* Schedule Page */
.schedule {
    width: 70%;
    margin-left: 30%;
    margin-top: 17vh;
    background: rgba(0, 0, 0, 0.4);
    height: 80%;
    border-radius: 10px;
    padding: 20px;
}

.schedule .container {
    height: 100%;
    padding-bottom: 48px;
    width: 100%;
}

.schedule .next p {
    color: #999999;
}

.schedule .next img {
    width:275px;
    margin: 0 15px 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    float:left;
}

.schedule .head {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
    position: relative;
    z-index:1;
}

.schedule .next .head h4 {
    line-height: 43px;
}

.schedule .head h4 {
    line-height: 40px;
}

.schedule .sched .head .days {
    width: 75%;
}


.schedule .sched .head img {
    cursor: pointer;
}

.schedule .sched .head h4 {
    cursor: pointer;
    color:#999999;
}

.schedule .sched h4.selected {
    border-bottom: 3px solid #FF4D4D;
    color:#444444;
}

.schedule .list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.schedule .list .item {
    height: 75px;
    margin-bottom: 15px;
}
.schedule .list .item h4 {
    font-family: RobotoLightWeb;
    color:#444444;
}

.schedule .list .item img {
    width: 75px;
    margin: 0 10px 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    float: left;
}

.schedule .schedule-container {
    overflow-x: auto;
}

h1.title {
    margin-top: 48px;
    margin-bottom: 20px;
    font-size: 45px;
    font-family: RobotoBoldWeb;
}

.accent {
    color:#FF4D4D;
}

.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}



.flex-one {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}
.flex-two {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}

.flex-three {
    -webkit-box-flex: 3;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3;         /* OLD - Firefox 19- */
    -webkit-flex: 3;          /* Chrome */
    -ms-flex: 3;              /* IE 10 */
    flex: 3;
}

.space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contactBox  {
	width: 55%;
	border: none;
	height: 20vh;
	margin-top: 17vh;
	/*background-color: white;*/
	opacity: 0.8;
	display: inline-block;
	padding: 5vh;
	
}

.podcastsDesc {
  width: 55%;
  border: none;
  height: 20vh;
  margin-top: 17vh;
  display: inline-block;
}

#toPodcast a {
text-decoration: none;
color: #FF4D4D;
}

.joinTeam h1 {
	color: white;
	float: left;
}

.downloadForm {
	width: 40vw;
	height: 5vh;
	border: none;
	background-color: #FF4D4D;
	float: right;
}

.downloadForm h4 {
	color: white;
	font-size: 30px;
}

#formLink {
  color:inherit;
  text-decoration: none;
  cursor: auto;
}

.downloadForm #or {
	color: white;
	padding: 2.5vh;
}

#gmEmail {
	color: #FF4D4D;
}

#gmEmail h3 {
	display: inline;
}

#gmEmail a {
	color: #FF4D4D;
  text-decoration: none;
}

#waveStreamingPlayer {
  ;
}

iframe {
  display: block;
}

.facebookFeed {
	padding-Top: 2vh;
	height: 80%;
}

.radio-feed {
  height: 20%;
}

@media screen and (max-width: 1900px) {
  .player {
    float: none;
    margin: 0 auto;
    height: 80%;
    margin-top: 17vh;  
    display: inline-block;
  }
  .schedule {    
    width: 90%;
    margin: 10vh auto;
    background: rgba(255, 255, 255, 1);
  }
  body {
    overflow-y: scroll;
    color: rgba(0, 0, 0, 1);
  }
}

@media screen and (max-height: 984px)