@font-face {
    font-family: RobotoWeb;
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoLightWeb;
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Light-webfont.woff') format('woff'), url('fonts/Roboto-Light-webfont.ttf') format('truetype'), url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoBoldWeb;
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Bold-webfont.woff') format('woff'), url('fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoCondensedWeb;
    src: url('fonts/Roboto-Condensed-webfont.eot');
    src: url('fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Condensed-webfont.woff') format('woff'), url('fonts/Roboto-Condensed-webfont.ttf') format('truetype'), url('fonts/Roboto-Condensed-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color:#444444;
    font-family: RobotoWeb;

    /* Fix for IE booooo! */
/*    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
*/
}

.react-container {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.background {
  width: 100vw;
  height: 95vh; /*change to 100vh when */
  margin: 0 auto;
  position: relative;


  background: url('/src/img/back.png') no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-weight: initial;
}

h1 {

}

h2 {
    font-size:30px;
    font-family: RobotoLightWeb;
}

h3 {
    font-size:25px;
}

h4 {
    font-size:20px
}

h5 {
    font-size: 15px;
}

.nav-item {
    font-family: RobotoBoldWeb;
    font-size: 2vh;
    cursor: pointer;
    color:#444444;
    text-decoration: none;
}

.nav-item-wrapper {
  width: 100vw;
  height: 100vh;
  list-style: none;
}

.nav-item-wrapper li:hover {
  color: #FFFFFF;
  background-color: #FF4D4D;
}

.nav-item:hover {
  color: #FFFFFF;
  background-color: #FF4D4D;
}


.nav {
	width: 100%;
	height: 100%;
}

li:hover, li:focus {
    text-decoration: none !important;
}

.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.center {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.center-horizontal {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.center-vertical {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-one {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}
.flex-two {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}

.flex-three {
    -webkit-box-flex: 3;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3;         /* OLD - Firefox 19- */
    -webkit-flex: 3;          /* Chrome */
    -ms-flex: 3;              /* IE 10 */
    flex: 3;
}

.header {
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    z-index: 1;
    height: 15vh;
    box-shadow: 0 0 0 rgba(0,0,0,.15);
    margin-top: 2vh;
}

.navbar {
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: center;
  display: block;
  float: left;
}

.nav-item-wrapper {
  width: 50vw;
  height: 10vh;
  float: left;
  display: table-cell;
  vertical-align: center;
}

.logo {
  width: 25%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  justify-content: center;
}

.logo img {
  max-width: 7vw;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.nav-item, li {
    padding: .5vw 1.5vw;
    color:#FFFFFF;
    float: left;
}

